* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Mono", monospace;
}

body {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    color: green;
}

ul {
    list-style: none;
}

.main_sections {
    position: absolute;
    text-align: center;
    height: 100%;
    top: 0;
}

.side {
    background-color: black;
}

.side p,
a {
    color: whitesmoke;
}

/*? Main header */
.main_header {
    left: 0;
    width: 15%;
}

.home_icon {
    width: 100%;
}

/*? Main section */
.center_section {
    background-color: lightyellow;
    left: 15%;
    right: 15%;
}

/*? Main footer */
.main_footer {
    right: 0;
    width: 15%;
}
