:root {
    /* Background colors */
    --primary_background: whitesmoke;
    --secondary_background: black;
    --accent_background: darkgreen;

    /* Text colors */
    --dark_text: black;
    --light_text: whitesmoke;
    --accent_text: chartreuse;

    /* Text size */
    --title_text_1: 40px;
    --subtitle_2: 32px;
    --subtitle_3: 24px;
    --text: 20px;

    /* Text weight */
    --bold_text: 400;
    --bolder_text: 700;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Mono", monospace;
}

/*? Labels */
body {
    background-color: var(--primary_background);
}

h1 {
    font-size: var(--title_text_1);
}

h2 {
    font-size: var(--subtitle_2);
}

h3 {
    font-size: var(--subtitle_3);
}

p {
    font-size: var(--text);
}

a {
    text-decoration: none;
    color: var(--dark_text);
}

a:hover {
    font-weight: var(--bolder_text);
    color: var(--accent_text);
}

ul {
    list-style: none;
}

/*? Body sections */
.main_sections {
    position: absolute;
    text-align: center;
    height: 100%;
    top: 0;
}

/*? Side sections */
.side {
    background-color: var(--secondary_background);
}

.side p,
a {
    color: var(--light_text);
}

/*? Main header */
.main_header {
    left: 0;
    width: 15%;
}

.home_icon {
    width: 100%;
}

/*? Main section */
.center_section {
    left: 15%;
    right: 15%;
}

/*? Main footer */
.main_footer {
    right: 0;
    width: 15%;
}

.social_image {
    width: 44px;
    border-radius: 10px;
    background-color: var(--primary_background);
}
